;nvert.dat
    1                  ; nvert
    300000             ; nbase  ex) 100000000
;range 1
    -300000.0  -1000.0
    0.0  0.0
; coefs
    1                 ; ndebv(1)
#{FORCE_COEF}
    0.0               ; cvert(2,1)
    0.0               ; not used.
    0.0               ; not used.
    300.0             ; tempcev(1)
